<nav id="three-circles">
    <div class="row">
        <div class="col-12 col-sm-4">
            <a id="three-circles-logo" href=""><img src="{{ asset('img/2018/decarte-logo.svg') }}" alt="Logo decARTe"></a>
        </div>
        <div class="col-12 col-sm-4">
            <a id="three-circles-invitations" class="zoomable" href="{{ path('shop_list_collections', {type: 'zaproszenia-slubne'}) }}">
                <img src="{{ asset('img/2018/zaproszenia.jpg') }}" alt="Zaproszenia">
                <div class="circle-title align-items-center"><span>Zaproszenia ślubne</span></div>
            </a>
        </div>
        <div class="col-12 col-sm-4">
            <a id="three-circles-additions" class="zoomable" href="{{ path('shop_list_collections', {type: 'dodatki'}) }}">
                <img src="{{ asset('img/2018/dodatki.jpg') }}" alt="Dodatki">
                <div class="circle-title align-items-center"><span>Dodatki</span></div>
            </a>
        </div>
    </div>
</nav>
