{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}{% trans %}order.samples.service{% endtrans %} - decARTe{% endblock %}

{% block contents %}
    <img src="/img/samples-form.jpg" alt="{% trans %}order.samples.service{% endtrans %}" class="samples-header" />

    <h2 class="samples">Koszt: 15 PLN ({{ samples_count }} dowolne zaproszenia z losowym nadrukiem; wysyłka w cenie próbnika)</h2>

    <p class="samples-remark">{% trans %}order.samples.bank_account_emailed{% endtrans %}</p>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}

    <div class="samples-products"
         id="samples-products"
         data-max-items="{{ samples_count }}"
         data-prototype="{{ form_row(form.items.vars.prototype)|e }}">
        {% for item in form.items %}
            {{ form_row(item, {'label': 'Zaproszenie nr '~loop.index}) }}
        {% endfor %}
    </div>

    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
    {{ form_row(form.postal_code) }}
    {{ form_row(form.city) }}
    {{ form_row(form.notes) }}
    {{ form_end(form) }}

    <script>
        const items = document.getElementById('samples-products');
        const itemsCount = document.querySelectorAll('#samples-products .form-group').length;
        const maxCount = parseInt(items.getAttribute('data-max-items'));
        const prototype = items.getAttribute('data-prototype');
        for (let index = itemsCount; index < maxCount; index++) {
            const newWidget = prototype.replace(/__name__/g, index).replace(/__number__/g, index + 1);
            items.insertAdjacentHTML('beforeend', newWidget);
        }
    </script>
{% endblock %}
