<p>Szanowni Państwo,<br>
    Dziękujemy za złożenie zamówienia w naszej firmie.</p>

<p>Zamówione przez Was produkty:</p>

{% for item in order.getItems() %}
    <p><img
        src="{{ absolute_url(asset(image_product_url~'/'~item.getProduct().getCoverImage().getImageName()) | imagine_filter('product_thumb')) }}"
        border="1"
        width="{{ image_product_small_width }}"
        height="{{ image_product_small_height }}"><br>
    {{ item.getProduct().getProductCollection().getName() }} - {{ item.getProduct().getName() }}<br>
    liczba sztuk: {{ item.getQuantity() }}</p>
{% endfor %}

<p>Sposób dostawy/płatności: {{ order.getDeliveryType() }}<br>
    Tryb realizacji: {{ order.getRealizationType() }}</p>

<p><strong>Razem do zapłaty: {{ (order.getTotalPrice() / 100)|number_format(2, ',', ' ') }} PLN</strong></p>

{% if order.getDeliveryType().getShortName() == 'przedpłata' %}
<p><strong>Dane konta:</strong><br>
    Adprem - Adam Magosa<br>
    ING Bank Śląski SA<br>
    97 1050 1025 1000 0092 7235 8517<br>
    W tytule proszę podać imię i nazwisko.<br>
    Prosimy o przesłanie mailem potwierdzenia wpłaty.</p>
{% endif %}

<p><strong>PROCEDURA realizacji wygląda następująco:</strong></p>

<ol>
    <li><strong>Prosimy wypełnienie i odesłanie
            {% if formsCount > 1 %}formularzy znajdujących{% else %}formularza znajdującego{% endif %}
            się w załączniku.</strong></li>
    <li>Po otrzymaniu powyższych informacji, w ciągu maksymalnie {{ order.getRealizationType().getDTPDays() }} dni roboczych, przygotujemy dla Państwa
        skład tekstu do akceptacji przed drukiem i wyślemy mailem celem akceptacji. Prosimy zapoznać się uważnie z przesłanymi załącznikami,
        jeśli uznają Państwo, że należy dokonać jakichkolwiek zmian, poinformujcie nas mailowo - tekst trafi do korekty.</li>
    <li>Wraz z zatwierdzeniem zgodności treści oraz układu tekstu, zamówienie trafia do druku.
        Nie ma już możliwości dokonywania zmian. Reklamacje dotyczące błędów w składach, które zostały zatwierdzone, nie będą rozpatrywane.</li>
    <li>Wysyłka ma miejsce najpóźniej {{ order.getRealizationType().getDeliveryDays() }}. dnia roboczego, licząc od daty przesłania do nas wypełnionego formularza (+ 24 godziny na każdą korektę tekstu).</li>
    <li>Jeśli nasz produkt z jakichkolwiek przyczyn nie spełnia Państwa oczekiwań, przysługuje prawo reklamacji. Prosimy o kontakt z nami, a uzgodnimy warunki korzystne dla obu stron.</li>
    <li>Jeśli mają Państwo pytania czy wątpliwości w trakcie realizacji zamówienia, prosimy o kontakt:
        <ul>
            <li>pracowniadecarte@gmail.com - na maile odpowiadamy w ciągu 24h w dni robocze od poniedziałku do piątku, 9:00-16:00</li>
            <li>tel. 733-325-292 (pon-pt w godzinach 10:00-18:00)</li>
        </ul>
    </li>
</ol>

<p>Dziękujemy!<br>
    Zespół decarte-zaproszenia.pl</p>
