{% for item in order.getItems() %}
    <p><img
            src="{{ absolute_url(asset(image_product_url~'/'~item.getProduct().getCoverImage().getImageName()) | imagine_filter('product_thumb')) }}"
            border="1"
            width="{{ image_product_small_width }}"
            height="{{ image_product_small_height }}"><br>
        {{ item.getProduct().getProductCollection().getName() }} - {{ item.getProduct().getName() }}<br>
        cena za sztukę: {{ (item.getUnitPrice() / 100)|number_format(2, ',', ' ') }} PLN<br>
        liczba sztuk: {{ item.getQuantity() }}<br>
        razem: {{ (item.getTotalPrice / 100)|number_format(2, ',', ' ') }} PLN</p>
{% endfor %}

<p>Sposób dostawy/płatności: {{ order.getDeliveryType() }}<br>
Tryb realizacji: {{ order.getRealizationType() }}</p>

<p>Suma: <strong>{{ (order.getTotalPrice() / 100)|number_format(2, ',', ' ') }} PLN</strong></p>

<p>Nazwisko: {{ order.getName() }}
<br>Ulica: {{ order.getStreet() }}
<br>Miasto: {{ order.getPostalCode()~' '~order.getCity() }}
<br>Telefon: {{ order.getPhone() }}
<br>E-mail: <a href="mailto:{{ order.getEmail() }}">{{ order.getEmail() }}</a></p>

<p>Uwagi: {{ order.getNotes() }}</p>
