{% extends 'baseSidebar.html.twig' %}

{% block title %}Sprawdź zamówienie - decARTe{% endblock %}

{% block contents %}
    <form action="{{ path('order_save') }}" method="post">
        <h2>Sprzedawca</h2>

        <p>Pracownia decARTe s.c., ul. Starowiejska 63/13, 80-534 Gdańsk</p>

        <h2>Kupujący</h2>

        <table>
            <tbody>
                <tr>
                    <th>Imię i nazwisko:</th>
                    <td>{{ order.getName() }}</td>
                </tr>
                <tr>
                    <th>Adres:</th>
                    <td>{{ order.getStreet() }}</td>
                </tr>
                <tr>
                    <th>Kod pocztowy:</th>
                    <td>{{ order.getPostalCode() }}</td>
                </tr>
                <tr>
                    <th>Miasto:</th>
                    <td>{{ order.getCity() }}</td>
                </tr>
                <tr>
                    <th>E-mail:</th>
                    <td>{{ order.getEmail() }}</td>
                </tr>
                <tr>
                    <th>Numer telefonu:</th>
                    <td>{{ order.getPhone() }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Zawartość zamówienia</h2>

        <table>
            <thead>
                <tr>
                    <th>L.p.</th>
                    <th>Nazwa produktu</th>
                    <th>Liczba szt.</th>
                    <th>Razem</th>
                </tr>
            </thead>
            <tbody>
            {% for item in order.getItems() %}
                {% set collection = item.getProduct().getProductSeries().getProductCollection() %}
                {% set type = collection.getProductType() %}
                {% set url = path('shop_view_product', {'type': type.getSlugName(), 'slugName': collection.getSlugName(), 'id': item.getProduct().getId()}) %}

                <tr>
                    <td>{{ loop.index }}.</td>
                    <td><a href="{{ url }}">{{ collection.getName() }} - {{ item.getProduct().getName() }}</a></td>
                    <td>{{ item.getQuantity() }}</td>
                    <td>{{ (item.getTotalPrice() / 100)|number_format(2, ',', ' ') }} zł</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if order.getNotes() %}
            <p>Uwagi: {{ order.getNotes()|nl2br }}</p>
        {% endif %}

        <h2>Sposób dostawy</h2>

        <p>{{ order.getDeliveryType() }}</p>

        <h2>Tryb realizacji</h2>

        <p>{{ order.getRealizationType() }}</p>

        <div id="order_total_price">DO ZAPŁATY: {{ (order.getTotalPrice() / 100)|number_format(2, ',', ' ') }} zł</div>

        <div class="cart_submit">
            <input type="submit" name="edit_order" value="Wróć do edycji danych">
            <input type="submit" name="save_and_order" value="Zamawiam i płacę">
        </div>

        <p>Kraj prowadzenia działalności: Polska</p>
    </form>
{% endblock %}
