{% extends 'baseSidebar.html.twig' %}

{% set productType = productCollection.getProductType() %}

{% block title %}{{ productCollection.getName() }} - {{ productType.getName() }} - decARTe{% endblock %}

{% block contents %}
    <ul id="short_collections">
        {% spaceless %}
            {% for collection in allCollections %}
                <li>
                    {% if collection.getId() == productCollection.getId() %}
                        {% set linkClass = "active" %}
                    {% else %}
                        {% set linkClass = "" %}
                    {% endif %}

                    <a href="{{ path('shop_view_collection', {'type': productType.getSlugName(), 'slugName': collection.getSlugName()}) }}" class="{{ linkClass }}">
                        {{ collection.getName() }}
                    </a>
                </li>
            {% endfor %}
        {% endspaceless %}
    </ul>

    {{ productCollection.getDescription()|raw }}

    {% for series in allSeries %}
        <div class="series">
            <img class="series_photo" src="{{ asset(image_series_url~'/'~series.getImageName()) }}" alt="" width="{{ image_series_width }}">
            <p class="description">{{ series.getDescription() }}</p>

            <ul>
                {% for product in series.getProducts() %}
                    <li>
                        <a href="{{ path('shop_view_product', {'type': productType.getSlugName(), 'slugName': productCollection.getSlugName(), 'id': product.getId()}) }}">
                            <img
                                src="{{ asset(image_product_small_url~'/'~product.getCoverImage().getSmallName()) }}"
                                width="{{ image_product_small_width }}"
                                height="{{ image_product_small_height }}"
                                alt="Zdjęcie">
                        </a><br>
                        <span class="product_name">model {{ product.getName() }} &ndash; {{ product.getPrice()|number_format(2, ',', ' ') }} zł</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
