{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Grafiki do zaproszeń - decARTe{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ canonicalUrl }}">
    <meta property="og:url" content="{{ canonicalUrl }}">
{% endblock %}

{% block contents %}
    {% include 'static/texts/menu.html.twig' %}

    <h3 style="text-align: center">Ornamenty</h3>

    <ol class="sample-graphics">
        {% for n in 1..34 %}
        <li><img src="/img/ornamenty/ornament{{ n }}.png" alt="Ornament nr {{ n }}"></li>
        {% endfor %}
    </ol>

    <h3 style="text-align: center">Grafiki</h3>

    <ol class="sample-graphics">
        {% for n in 1..12 %}
        <li><img src="/img/grafiki/grafika{{ n }}.png" alt="Grafika nr {{ n }}"></li>
        {% endfor %}
    </ol>
{% endblock %}
