{% extends '@App/layout/base-with-sidebar.html.twig' %}

{% block title %}Dane do wysyłki - decARTe{% endblock %}

{% block contents %}
    <h1><span class="step">Krok 1 z 2:</span> Podaj swoje dane</h1>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.street) }}
    {{ form_row(form.postalCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}

    <h2>Uwagi lub pytania</h2>

    {{ form_row(form.notes) }}

    {{ form_end(form) }}

    <p>Po złożeniu zamówienia, w ciągu godziny otrzymają Państwo maila ze szczegółami dotyczącymi realizacji zamówienia
        oraz rozbudowanym formularzem, w którym będzie można sprecyzować szczegóły zlecenia.</p>

    <p>W razie wątpliwości zachęcamy również do kontaktu telefonicznego: <strong>793-697-390, 600-151-804</strong>.</p>
{% endblock %}
