{% extends '@App/layout/base-with-sidebar.html.twig' %}

{% block title %}Sprawdź zamówienie - decARTe{% endblock %}

{% block contents %}
    <form action="{{ path('order_save') }}" method="post">
        <h2>Sprzedawca</h2>

        <p>Pracownia decARTe s.c., ul. Reymonta 1, 80-290 Gdańsk</p>

        <p>Kraj prowadzenia działalności: Polska</p>

        <h2>Kupujący</h2>

        <table class="table table-sm">
            <tbody>
                <tr>
                    <th>Imię i nazwisko:</th>
                    <td>{{ order.getName() }}</td>
                </tr>
                <tr>
                    <th>Ulica:</th>
                    <td>{{ order.getStreet() }}</td>
                </tr>
                <tr>
                    <th>Kod pocztowy:</th>
                    <td>{{ order.getPostalCode() }}</td>
                </tr>
                <tr>
                    <th>Miasto:</th>
                    <td>{{ order.getCity() }}</td>
                </tr>
                <tr>
                    <th>E-mail:</th>
                    <td>{{ order.getEmail() }}</td>
                </tr>
                <tr>
                    <th>Numer telefonu:</th>
                    <td>{{ order.getPhone() }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Zawartość zamówienia</h2>

        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col"><abbr title="Liczba porządkowa">L.p.</abbr></th>
                    <th scope="col">Nazwa produktu</th>
                    <th scope="col">Liczba sztuk</th>
                    <th scope="col">Razem</th>
                </tr>
            </thead>
            <tbody>
            {% for item in order.getItems() %}
                {% set collection = item.getProduct().getProductCollection() %}
                {% set type = collection.getProductType() %}
                {% set url = path('shop_view_product', {'type': type.getSlugName(), 'slugName': collection.getSlugName(), 'id': item.getProduct().getId()}) %}

                <tr>
                    <th scope="row">{{ loop.index }}.</th>
                    <td><a href="{{ url }}">{{ collection.getName() }} - {{ item.getProduct().getName() }}</a></td>
                    <td>{{ item.getQuantity() }}</td>
                    <td>{{ (item.getTotalPrice() / 100)|number_format(2, ',', ' ') }} zł</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if order.getNotes() %}
            <p>Uwagi: {{ order.getNotes()|nl2br }}</p>
        {% endif %}

        <h2>Sposób dostawy/płatności</h2>

        <p>{{ order.getDeliveryType() }}</p>

        <h2>Tryb realizacji</h2>

        <p>{{ order.getRealizationType() }}</p>

        <div id="order-total-price">
            <span>Do zapłaty: <strong>{{ (order.getTotalPrice() / 100)|number_format(2, ',', ' ') }} zł</strong></span><br>
            <input type="checkbox" id="terms" value="1" required>
            <label for="terms">Znam i akceptuję postanowienia
                <a href="{{ path('static_page', {slugName: 'regulamin'}) }}" target="_blank">regulaminu</a>
            </label>
        </div>

        <div class="cart_submit">
            <input type="submit" name="edit_order" value="Wróć do edycji danych" class="btn btn-secondary">
            <input type="submit" name="save_and_order" value="Zamawiam i płacę" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
