{% extends 'admin/base.html.twig' %}

{% block breadcrumb %}
    {% set collection = productSeries.getProductCollection() %}
    <li><a href="{{ path('admin_index') }}">Strona główna</a></li>
    <li><a href="{{ path('admin_index') }}#products">Produkty</a></li>
    <li><a href="{{ path('admin_product_collections', {'type': collection.getProductType().getId()}) }}">{{ collection.getProductType().getName() }}</a></li>
    <li><a href="{{ path('admin_product_collection', {'collection': collection.getId()}) }}">{{ collection.getName() }}</a></li>
    <li class="active">{% if productSeries.getId() %}{{ productSeries.getName() }}{% else %}Nowa seria{% endif %}</li>
{% endblock %}

{% block body %}
    <h1>{% if productSeries.getId() %}Edycja serii produktów{% else %}Nowa seria produktów{% endif %}</h1>

    {% form_theme form 'form/fields.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
