{% extends 'admin/base.html.twig' %}

{% block breadcrumb %}
    {% set collection = product.getProductCollection() %}
    {% set type = collection.getProductType() %}
    <li><a href="{{ path('admin_index') }}">Strona główna</a></li>
    <li><a href="{{ path('admin_index') }}#products">Produkty</a></li>
    <li><a href="{{ path('admin_product_collections', {'type': type.getId()}) }}">{{ type.getName() }}</a></li>
    <li><a href="{{ path('admin_product_collection', {'collection': collection.getId()}) }}">{{ collection.getName() }}</a></li>
    <li class="active">{% if product.getId() %}{{ product.getName() }}{% else %}Nowy produkt{% endif %}</li>
{% endblock %}

{% block body %}
    {% if product.getId() %}
        <p><a href="{{ path('admin_add_product', {'collectionId': product.getProductCollection().getId()}) }}" class="btn btn-default" role="button">Dodaj nowy produkt</a></p>
    {% endif %}
    
    <h1>{% if product.getId() %}Edycja produktu{% else %}Nowy produkt{% endif %}</h1>

    {% form_theme form 'form/fields.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form.productCollection) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.isVisible) }}
        {{ form_row(form.hasDemo) }}
        {{ form_row(form.descriptionSEO) }}
        {{ form_row(form.description) }}

        <h3>Zdjęcia</h3>

        <ol id="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            {% for image in form.images %}
                <li>{{ form_widget(image) }}</li>
            {% endfor %}
        </ol>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/edit_product.js') }}"></script>
{% endblock %}
