{% extends '@App/layout/base-with-sidebar.html.twig' %}

{% set productType = productCollection.getProductType() %}

{% block title %}{{ productCollection.getName() }} - {{ productType.getName() }} - decARTe{% endblock %}

{% block contents %}
    <ul id="short_collections">
        {% spaceless %}
            {% for collection in allCollections %}
                <li>
                    {% if collection.getId() == productCollection.getId() %}
                        {% set linkClass = "active" %}
                    {% else %}
                        {% set linkClass = "" %}
                    {% endif %}

                    <a href="{{ path('shop_view_collection', {'type': productType.getSlugName(), 'slugName': collection.getSlugName()}) }}" class="{{ linkClass }}">
                        {{ collection.getName() }}
                    </a>
                </li>
            {% endfor %}
        {% endspaceless %}
    </ul>

    {{ productCollection.getDescription()|raw }}

    <ul id="products" class="figures">
        {% for product in productCollection.getProducts() %}
            {% if product.isVisible() %}
            <li>
                <figure>

                    {% if product.getCoverImage() %}
                    <img
                        src="{{ asset(image_product_url~'/'~product.getCoverImage().getImageName()) | imagine_filter('product_thumb') }}"
                        width="{{ image_product_small_width }}"
                        height="{{ image_product_small_height }}"
                        alt="Model {{ product.getName() }}">
                    {% endif %}

                    <figcaption>
                        <p class="description">model {{ product.getName() }} &ndash; {{ (product.getPrice() / 100)|number_format(2, ',', ' ') }} zł</p>
                        <a href="{{ path('shop_view_product', {'type': productType.getSlugName(), 'slugName': productCollection.getSlugName(), 'id': product.getId()}) }}">zobacz</a>
                    </figcaption>
                </figure>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
