{% use 'bootstrap_4_layout.html.twig' %}

{% block cart_item_widget %}
    {% set collection = product.getProductCollection() %}
    {% set type = collection.getProductType() %}
    {% set productLink = path('shop_view_product', {'type': type.getSlugName(), 'slugName': collection.getSlugName(), 'id': product.getId()}) %}
    <div class="cart-item">
        <a href="{{ productLink }}">
            <img src="{{ asset(image_product_url~'/'~product.getCoverImage().getImageName()) | imagine_filter('product_thumb') }}" alt="Zdjęcie">
        </a>

        <div class="item-price">
            {{ (item.getUnitPrice() / 100)|number_format(2, ',', ' ')  }} zł
        </div>

        <h2><a href="{{ productLink }}">{{ collection.getName()~' - '~product.getName() }}</a></h2>

        {{ block('form_widget') }}
    </div>
{% endblock %}
