{% extends 'admin/components/productCollection.html.twig' %}

{% block collection_details %}
    {% spaceless %}
        {% for product in productCollection.getProducts() %}
            <a href="{{ path('admin_edit_product', {'productId': product.getId()}) }}">
                {% if product.getCoverImage() %}
                    <img
                        src="{{ asset(image_product_url~'/'~product.getCoverImage().getImageName()) | imagine_filter('product_thumb') }}"
                        width="{{ image_product_small_width }}"
                        height="{{ image_product_small_height }}">
                {% else %}
                    {{ product.getName() }} - brak zdjęcia
                {% endif %}
            </a>
        {% endfor %}
    {% endspaceless %}
{% endblock %}
