{% extends 'layout/base-with-sidebar.html.twig' %}

{% set productCollection = product.getProductCollection() %}
{% set productType = productCollection.getProductType() %}
{% set pageTitle = productCollection.getName()~' - model '~product.getName()~' - '~productType.getName()~' - decARTe' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block meta %}
    <link rel="canonical" href="{{ currentUrl }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:image" content="{{ absolute_url(asset(image_product_url~'/'~product.getCoverImage().getImageName()) | imagine_filter('product_full')) }}">
    <meta property="og:description" content="{{ product.getDescriptionSEO() }}">
    <meta property="description" content="{{ product.getDescriptionSEO() }}">
    <meta property="og:url" content="{{ currentUrl }}">
    {% if previousUrl %}<link rel="prev" href="{{ previousUrl }}">{% endif %}
    {% if nextUrl %}<link rel="next" href="{{ nextUrl }}">{% endif %}
    {{ breadcrumbsSchema|raw }}
    {{ schema|raw }}
{% endblock %}

{% block contents %}
    <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs.getList() %}
            <li {% if loop.last %}class="breadcrumb-item active" aria-current="page"{% else %}class="breadcrumb-item"{% endif %}>
                <a href="{{ breadcrumb.getUrl() }}">{{ breadcrumb.getName() }}</a>
            </li>
        {% endfor %}
    </ol>

    <div class="product-actions">
        <div class="product-siblings product-siblings-above" role="navigation">
            {% if previousPath %}<a href="{{ previousPath }}" class="prev">Poprzedni produkt</a>{% endif %}
            {% if nextPath %}<a href="{{ nextPath }}" class="next">Następny produkt</a>{% endif %}
        </div>

        <div class="add-product-to-cart">
            <form action="{{ path('cart_add_item') }}" method="post">
                <p class="price">Cena: {{ (product.getPrice() / 100)|number_format(2, ',', ' ') }} zł</p>
                <div>
                    <input type="hidden" name="product_id" value="{{ product.getId() }}">
                    <input type="hidden" name="quantity" value="{{ product.getMinimumQuantity() }}">
                    <button type="submit" class="btn btn-primary">Dodaj do koszyka</button>
                </div>
            </form>

            {% if hasDemo %}
            <form action="{{ path('shop_add_sample') }}" method="post" class="sample">
                <input type="hidden" name="product_id" value="{{ product.getId() }}">
                <button type="submit" class="btn">Zamów próbkę</button>
            </form>
            {% endif %}
        </div>
    </div>

    <h1 class="product_name">{{ productCollection.getName() }} - model {{ product.getName() }}</h1>

    <p class="short_description">{{ product.getDescriptionSEO() }}</p>

    <div id="slider">
        {% for image in product.getImages() %}
            <img
                src="{{ asset(image_product_url~'/'~image.getImageName()) | imagine_filter('product_full') }}"
                width="{{ image_product_big_width }}"
                height="{{ image_product_big_height }}"
                alt="{{ productType.getName()~': '~productCollection.getName()~' '~product.getName()~' - zdjęcie nr '~loop.index }}">
        {% endfor %}
    </div>

    <article class="full_description">{{ product.getDescription()|raw|nl2br }}</article>

    <div class="product-siblings product-siblings-below" role="navigation">
        {% if previousPath %}<a href="{{ previousPath }}" class="prev">Poprzedni produkt</a>{% endif %}
        {% if nextPath %}<a href="{{ nextPath }}" class="next">Następny produkt</a>{% endif %}
    </div>
{% endblock %}
