<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}decARTe{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff"></head>
<body>

<header>
    {{ include('@App/layout/contact-bar.html.twig') }}
    {{ include('@App/layout/top-navigation.html.twig') }}
</header>

<main>
    {% block main %}{% endblock %}
</main>

{{ include('@App/layout/sitemap-with-contact.html.twig') }}
{{ include('@App/layout/company-data.html.twig') }}

</body>
</html>
