{% extends 'layout/base-with-sidebar.html.twig' %}

{% block title %}Dane do wysyłki - decARTe{% endblock %}

{% block contents %}
    <h1><span class="step">Krok 1 z 2:</span> Podaj swoje dane</h1>

    <p class="alert alert-secondary" role="alert">
        Po złożeniu zamówienia, w ciągu godziny otrzymają Państwo maila ze szczegółami dotyczącymi realizacji zamówienia
        oraz rozbudowanym formularzem, w którym będzie można sprecyzować szczegóły zlecenia.
    </p>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {% if form.offsetExists('street') %}{{ form_row(form.street) }}{% endif %}
    {% if form.offsetExists('postalCode') %}{{ form_row(form.postalCode) }}{% endif %}
    {% if form.offsetExists('city') %}{{ form_row(form.city) }}{% endif %}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}

    <h2>Uwagi lub pytania</h2>

    {{ form_row(form.notes) }}

    {{ form_end(form) }}
{% endblock %}
