<footer id="sitemap-with-contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <h3>Informacje</h3>
                <ul>
                    <li><a href="{{ path('static_page', {slugName: 'zamowienia'}) }}">Jak zamówić</a></li>
                    <li><a href="{{ path('static_page', {slugName: 'pytania-i-odpowiedzi'}) }}">Pytania i odpowiedzi</a></li>
                    <li><a href="{{ path('static_page', {slugName: 'o-nas'}) }}">O nas</a></li>
                    <li><a href="{{ path('static_page', {slugName: 'regulamin'}) }}">Regulamin</a></li>
                    <li><a href="{{ path('static_page', {slugName: 'polityka-prywatnosci'}) }}">Polityka prywatności</a></li>
                    {% for entry in menu.getEntries() %}
                        {% if entry.getCssClass() != 'subitem' %}
                            <li><a href="{{ path(entry.getRouteName(), entry.getRouteParams()) }}">{{ entry.getTitle() }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <h3>Pomocnik</h3>
                <ul>
                    <li><a href="{{ path('texts_section', {section: 'teksty'}) }}">Teksty zaproszeń ślubnych</a></li>
                    <li><a href="{{ path('texts_section', {section: 'cytaty'}) }}">Cytaty</a></li>
                    <li><a href="{{ path('texts_section', {section: 'wierszyki'}) }}">Wierszyki</a></li>
                    <li><a href="{{ path('texts_section', {section: 'czcionki'}) }}">Czcionki</a></li>
                    <li><a href="{{ path('texts_section', {section: 'grafiki'}) }}">Ornamenty i&nbsp;grafiki</a></li>
                    <li><a href="{{ path('texts_section', {section: 'zawieszki'}) }}">Teksty na&nbsp;zawieszki</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-4" id="footer-contact">
                <h3>Kontakt</h3>
                <p>
                    <a href="mailto:pracowniadecarte&#64;gmail&#46;com">pracowniadecarte&#64;gmail&#46;com</a><br>
                    tel. <strong>733 325 292</strong> (w godz. 10-18)
                </p>
                <p>Pracownia decARTe<br>Aldony 2A/37-38<br>80-438 Gdańsk</p>
                <p>
                    <a href="https://web.facebook.com/decarte.zaproszenia.slubne/" rel="nofollow"><img src="{{ asset('img/2018/fb.png') }}" width="29" height="29" style="margin-right: 14px" alt="Facebook"></a>
                    <a href="https://www.instagram.com/decarte_zaproszenia/" rel="nofollow"><img src="{{ asset('img/2018/instagram.png') }}" width="29" height="29" alt="Instagram"></a>
                </p>
                <p>
                    <a href="https://www.payu.pl/" rel="nofollow"><img src="{{ asset('img/2018/payu.png') }}" width="76" height="38" alt="System płatności online - PayU Polska"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
