<nav id="top-navigation" class="{% if app.request.attributes.get('_route') != 'default' %}hide-on-mobile{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col" id="top-links">
                <ul>
                    <li><a href="{{ path('static_page', {slugName: 'zamowienia'}) }}">Jak zamówić</a></li>
                    <li><a href="{{ path('shop_order_samples') }}">
                        {% trans %}order.samples{% endtrans %}
                        {% if cart.getOrder('samples').getItems().count() %}
                            <span class="samples-count">{{ cart.getOrder('samples').getItems().count() }}</span>
                        {% endif %}
                    </a></li>
                    <li><a href="{{ path('texts_section', {section: 'teksty'}) }}">Teksty i&nbsp;grafiki</a></li>
                    <li>
                        <div class="dropdown">
                            <a href="{{ path('blog_post', {slugName: 'dodatki-slubne-wedlug-por-roku'}) }}">Poradnik</a>
                            <div class="dropdown-content">
                                <a href="{{ path('blog_post', {slugName: 'dodatki-slubne-wedlug-por-roku'}) }}">Dodatki ślubne wg pór roku</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="{{ path('static_page', {slugName: 'pytania-i-odpowiedzi'}) }}">Pytania i&nbsp;odpowiedzi</a></li>
                    <li><a href="{{ path('static_page', {slugName: 'o-nas'}) }}">O nas</a></li>
                    <li><a href="{{ path('static_page', {slugName: 'kontakt'}) }}">Kontakt</a></li>
                    <li id="cart-button"><a href="{{ path('cart_index') }}">
                        <img src="{{ asset('img/2018/cart.png') }}" alt="Koszyk">
                        {% if cart.getOrder().getItems().count() %}
                            <span class="cart-number">{{ cart.getOrder().getItems().count() }}</span>
                        {% endif %}
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    let hamburger = document.getElementById('hamburger');
    let topNavigation = document.getElementById('top-navigation');
    hamburger.addEventListener('click', function() {
        let style = getComputedStyle(topNavigation, null);
        if (style.display === 'none') {
            topNavigation.style.display = 'block';
        }  else {
            topNavigation.style.display = 'none';
        }
    });
</script>
